* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}


/* containers section  */
.container-full {
    max-width: 100%;
} 

.container-full-clients {
    width: 100vw;
}

.container-lg {
    max-width: 1300px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* content section  */
.content {
    padding: 30px 10px;
}

.content-right {
    padding: 30px 25px;
    text-align: right;
}

.content-partner {
    padding: 50px; 
}

.central-content {
    padding: 50px;
}


/* utility class */

.py-25 {
    padding-top: 25px;
}

.py-50 {
    padding-top: 75px;
}

.py-150 {
    padding-top: 150px;
}

.pd-120 {
    padding: 120px 0px;
}

.my-150 {
    margin-bottom: 150px;
}

.blue-button a {
    text-decoration: none;
    color: #fff;
}

.gap-50 {
    gap: 50px;
}

.images {
    width: 100%;
}

.images-btm {
    width: 50%;
}


/* header section  */
.col-10 {
    width: 10%;
    text-align: center;
}

.col-45 {
    width: 45%;
    padding-top: 5px;
}

/* menu settings  */
.menu-settings-headere {
    list-style-type: none;
}

.menu-settings-header li {
    display: inline-block;
    margin: 0px 15px;
}

li a {
    text-decoration: none;
    color: black;
}

/* main section  */


/* col section  */
.col-100-initial {
    width: 100%;
    height: 250px;
}

.col-100 {
    width: 100%;
    height: 140px;
    margin-bottom: 30px;
}

.col-100-bottom {
    width: 100%;
    height: 450px;
}

.col-100-bottom h2 {
    padding-bottom: 45px;
}

.col-100-bottom>p {
    padding: 45px 30px 45px 0;
}

.col-100 h2 {
    padding-bottom: 60px;
}

.col-100 span {
    padding-right: 40px;
}

.col-100-below-plans {
    width: 100%;
    height: 250px;
    margin-bottom: 200px;
}

.col-100-blue-background {
    width: 100%;
    position: relative;
}


.col-75 {
    width: 75%;
    height: 200px;
    margin-top: 200px;
    margin-bottom: 100px;
}


.col-65 {
    width: 65%;
    height: 450px;
}

.col-60 {
    width: 60%;
    margin-bottom: 130px;
}


.col-40 {
    width: 40%;
    height: 500px;
}

.col-35 {
    width: 35%;
    height: 450px;
}

.col-33-business-plan {
    width: calc((100% - 100px) / 3);
    height: 1000px;
    margin-bottom: 40px;
}

.col-33 {
    width: calc((100% - 100px) / 3);
}

.col-33-clients {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.col-20-footer {
    width: 20%;
    height: 400px;
}
/* col section end  */


/* title section  */
.jumbo img {
    width: 880px;
    padding-top: 30px;
}

.fs-20 span {
    padding: 15px;
}


/* business plan section */
.initial-page {
    padding-top: 30px;
    padding-bottom: 45px;
}

.purpose-use {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #d2d2d5;
}
.col-33 .purpose-use {
    margin-bottom: 35px;
}

.plan-info {
    padding: 30px 30px;
}

.plan-info h3 {
    padding-bottom: 20px;
}

.month-plan {
    padding-top: 10px;
    padding-bottom: 50px;    
}

.plan-advantages {
    list-style-type: none;
}

li {
    display: flex;
}

.plan-advantages li {
    margin: 30px 0px;
}   


li .fa-solid {
    margin-right: 5px;
}

.free-try {
    margin-top: 65px;
    margin-bottom: 30px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.plan-info hr {
    margin: 40px 0;
    width: 25%;
}

.fa-check {
    color:#0061ff;
}

/* business plan section end  */


/* contact team section  */
.contact-team {
    padding: 40px 30px;
    position: relative;
}

.contact-team h3 {
    padding-bottom: 20px;
}

.contact-team p:nth-child(3) {
    padding-bottom: 40px;
}

.position-contact-button {
    position: absolute;
    top: 40px;
    right: 30px;
}

.content-partner p:nth-child(2) {
    padding: 20px 0px 40px 0px;
}

.white-button {
    border: 1px solid black;
    padding: 10px;
}

.content-explanation p:nth-child(3) {
    padding-top: 25px;
    line-height: 25px;
}
/* contact team section end  */


/* clients review section  */
.box {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-out {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.box-green {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2d39b ;
}

.central-content hr {
    width: 25%;
}

.central-content img {
    padding-bottom: 35px;
}

.central-content p:nth-child(3) {
    padding-top: 35px;
    padding-bottom: 40px;
    line-height: 23px;
}
/* clients review section end  */


/* find out clients section  */
.col-75 h2 {
    padding-bottom: 60px;
}


/* free try section  */
.white-free-try {
    padding: 10px 40px;
    position: absolute;
    top: 130px;
    right: 0;
}


/* Q&A question section  */
p i {
    margin-left: 350px;
}


/* main section end  */


/* footer  */ 
footer {
    background-color: black;
    margin-top: 100px;
    padding: 80px 80px 30px 80px;
}

.footer-info li a {
    color: #fff;
}

.footer-info {
    list-style-type: none;
    display: inline-block;
}

.footer-info li {
    margin: 20px 0px;
}

.col-20-footer hr {
    margin: 70px 0px 40px 0px;
    width: 50%;
}
/* footer section end  */


/* color text-size bg-color  */

/* font size section  */
.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fs-45 {
    font-size: 45px;
}

.fs-95 {
    font-size: 95px;
}

/* bg-colors section  */
.bg-dark-blue {
    background-color: #0d2481;
}

.bg-maroon {
    background-color: #61082b;
}


.bg-dark-red {
    background-color: #d5001f;
}

.bg-red {
    background-color: #ff1c1c;
}

.bg-skyblue {
    background-color: #0093ce;
}

.bg-white-smoke {
    background-color: #f5f5f5;
}

.bg-white {
    background-color: white;
}

.bg-light-blue {
    background-color: #b4d0e7;
}

.bg-yellow {
    background-color: #ffd830;
}

.bg-light-green {
    background-color: #d1e9cd;
}

.bg-green {
    background-color: #a2d39b;
}

.bg-ligh-blue-full {
    background-color: #b4d0e7;
}


/* color section  */
.maroon {
    color: #61082b;
}
.white {
    color: #fff;
}

.grey {
    color: grey;
}

.blue {
    color: #4040f2;
}

/* button settings section  */
.p-blue-button {
    padding: 10px 35px;
}

.p-head-button {
    padding: 7px 15px;
}

.blue-button {
    background-color: #0061ff;
    color: #fff;
}

/* icon sections  */
.arrow-down {
    font-size: 50px;
} 

/* client review white img section  */
.svg-white {
    filter: grayscale(100) invert(100%) brightness(2);
}

/* bg-full-color  */
.bg-light-blue-head {
    padding-top: 80px;
    padding-bottom: 20px;
    max-width: 100%;
}

.light-blue-bottom {
    max-width: 100%;
}